* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

body {
  background-color: #fcf7f9;
}

/* Header */
.header {
  background-color: #7fa89a;
  color: white;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 22px;
}

.header p {
  font-size: 14px;
}

/* Navbar */
.navbar {
  background-color: #9fbfb4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  font-size: 14px;
}

.navbar a:hover {
  background-color: #7fa89a;
}

/* Hero */
.hero {
  text-align: center;
  margin: 15px;
}

.hero img {
  width: 100%;
  max-width: 650px;
  border-radius: 4px;
}

/* Judul */
.judul {
  text-align: center;
  margin: 15px;
  font-size: 16px;
  color: #4d6f65;
}

/* Konten */
.konten {
  display: flex;
  gap: 15px;
  padding: 15px;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(226, 220, 220);
  padding: 15px;
  flex: 1;
  min-width: 250px;
  border-radius: 4px;
}

.card h3 {
  color: #3f9876;
  margin-bottom: 8px;
}

/* Footer */
.footer {
  background-color: #3e7941;
  color: rgb(99, 104, 87);
  text-align: center;
  padding: 15px;
  font-size: 13px;
  margin-top: 20px;
}